@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPages.cshtml";
}
@section style{

}
@section scripts
{
    <script src="~/Scripts/modules/sysmenu/index.js"></script>
}
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>路径列表</h5>
    </div>
    <div class="ibox-content">
        <div class="row row-lg">
            <div class="col-sm-12">
                <table id="tb_departments"></table>
            </div>
        </div>
    </div>
</div>

